<div class="chaptersShow"
      (click) = "bibleService.showChapters = !bibleService.showChapters; ">
  <hr>
  <div *ngIf = "bibleService.title != 'Psalms'; else notChapter">
    <p>Chapter number</p>
  </div>
  <ng-template #notChapter>
    <div>
      <p>Psalm number</p>
    </div>
  </ng-template>
  <hr>
  <div  class="chapterGrid">
    <ng-container 
    *ngFor = "let chapters of bibleService.bible[bibleService.testament].books[bibleService.bookSelected].chapters" >
<!-- [routerLink] = "['/book', bibleService.title]" give error from static site (github pages) on reload -->
      <div 
          class = "chapters"
          [routerLink] = "['/book']"
          fragment = "{{chapters.chapter}}">
          {{chapters.chapter }}
      </div>
    </ng-container>
  </div>
  <hr>
</div>