<!-- This outside/fullpage div is necessary for the nav to stay sticky in apple stuff; don't ask I don't know either-->
<div> 
  <nav id = "nav">
    <div *ngIf = "bibleService.title != bibleService.versionTitle; else version">
      <button autofocus class = "titleButton"
              (click) = "bibleService.showChapters = !bibleService.showChapters; showChapters = false">
        {{bibleService.title}} 
      </button>
      <app-chapter-numbers *ngIf = "this.bibleService.showChapters" ></app-chapter-numbers>
    </div>
    <ng-template #version >
      <div class="bible">
        Bible
      </div>
      <div class="kjVersion">
        ({{bibleService.title}})
      </div>
    </ng-template>
    <div
      class = "menuButton"
      (click) = "bibleService.displayMenu = !bibleService.displayMenu;
      bibleService.showChapters = false"
      >
      <span></span>
      <span></span>
      <span></span>
    </div> 
    <app-menu *ngIf = "bibleService.displayMenu"></app-menu>
  </nav>
  <router-outlet></router-outlet>
</div>