<div class="menu">
    <hr>
    <div (click) = "bibleService.title = bibleService.versionTitle;
        bibleService.menuHistoryBook = false;
        bibleService.displayMenu = !bibleService.displayMenu"
        class = "links"
        routerLink="testaments">
            Bible Book List
    </div> 
    <hr>
    <div class="history">
        History:
        <ul class = "links" (click) = "historyService.rearrangeBooks('current')"> 
            {{this.historyService.currentBookMenu}}
        </ul>
        <ul class = "links" (click) = "historyService.rearrangeBooks('second');">
            {{this.historyService.secondBookMenu}}
        </ul>
        <ul class = "links" (click) = "historyService.rearrangeBooks('third');">
            {{this.historyService.thirdBookMenu}}
        </ul>
    </div>
    <hr>
    <!-- Dark mode TODO -->
    <div class="mode">
        Dark Theme
        <label class="switch">
            <input type="checkbox" id="theme" (change)="themeChange()">
            <span class="slider"></span>
          </label>
    </div> 

</div>