@import"../../styles.scss";

.menu {
  position: absolute;
  min-width: 20%;
  z-index: 3;
  border: 0 1px 1px 1px solid var(--ink);
  right: 0;
  background-color: var(--zPaper);
  color: var(--zInk);
  hr {
    // check divider in line with links
    margin: 1em;
  }
}
.history {
  text-align: left;
  margin: 1em;
}
.links {
  text-align: left;
  margin: 1em;
  cursor: pointer;
}
//dark theme toggle switch
// The switch - the box around the slider
.mode {
  text-align: left;
  margin: 1em;
}
.switch {
  position: relative;
  float: right;
  width: 3em;
  height: 1em;
  margin-left: 1em;
}
// Hide default HTML checkbox 
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
// The slider
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.3em;
  background-color: var(--darkRed);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 0.1em;
  border-radius: 0.25em;
  background-color: #eee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
} 
input:checked + .slider {
  background-color: var(--lightRed);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--button);
}
input:checked + .slider:before {
  -webkit-transform: translateX(1.7em);
  -ms-transform: translateX(1.7em);
  transform: translateX(1.7em);
}
// end dark theme toggle switch