<div class="menu" (click) = "bibleService.displayMenu = !bibleService.displayMenu">
    <hr>
    <div (click) = "bibleService.title = bibleService.versionTitle;
        bibleService.menuHistoryBook = false"
        class = "links"
        routerLink="testaments"
        routerLinkActive="active">
            Bible Book List
    </div> 
    <hr>
    <div class="history">
        History:
        <ul class = "links" (click) = "historyService.rearrangeBooks('current')"> 
            {{this.historyService.currentBookMenu}}
        </ul>
        <ul class = "links" (click) = "historyService.rearrangeBooks('second');">
            {{this.historyService.secondBookMenu}}
        </ul>
        <ul class = "links" (click) = "historyService.rearrangeBooks('third');">
            {{this.historyService.thirdBookMenu}}
        </ul>
    </div>
    <hr>
    <!-- Dark mode TODO
    <div class="links">
        Dark Mode
        <label class="switch">
            <input type="checkbox" id="theme" (change)="themeChange()">
            <span class="slider"></span>
          </label>
    </div> 
-->
</div>