/* You can add global styles to this file, and also import other style files */
// Global colours for easy colour scheme change
:root {
    --nav: #ccc;
    --paper: #f1f2f3;
    --ink: #000;
    --zPaper: #bbb;
    --zInk: #111;
    --button: #999;
    --buttonActive: #ddd;
    --buttonBorder: #777;
    --darkRed: #4b0101;
    --lightRed: #8A0707;
}
html[dataTheme = 'dark'] {
    --nav: #444;
    --paper: #111;
    --ink: #fff;
    --zPaper: #333;
    --zInk: #ddd;
    --button: #777;
    --buttonActive: #aaa;
    --buttonBorder: #333;
    --darkRed: #4b0101;
    --lightRed: #8A0707;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--ink);
    background-color: var(--paper);
    margin: auto;
}
hr {
    border-color: var(--lightRed);
}
h1, h2, h3, h4, h5 {
    font-family: Georgia,"Times New Roman", Times, serif;
    font-weight: normal;
}
