/* You can add global styles to this file, and also import other style files */
// Global colours for easy colour scheme change

$nav: #444;
$paper: #f1f2f3;
$ink: #000;
$zPaper: #333;
$zInk: #ddd;
$button: #777;
$buttonActive: #aaa;
$buttonBorder: #111;
$darkRed: #4b0101;
$lightRed: #8A0707;


html {
    scroll-behavior: smooth;
}
body {
    margin: auto;
}
hr {
    border-color: $lightRed;
}
h1, h2, h3, h4, h5 {
    font-family: Georgia,"Times New Roman", Times, serif;
    font-weight: normal;
}
