// Based on https://codepen.io/kipp0/pen/pPNrrj

.toast {
    visibility: hidden;
    max-width: 3em;
    height: 7em;
    margin: auto;
    background-color: rgba($color: #333, $alpha: 0.9);
    backdrop-filter: blur(0.3em);
    color: #fff;
    text-align: center;
    position: fixed;
    z-index: 2;
    left: 0;right:0;
    bottom: 3em;

    .desc {
        color: #fff;
        padding: 1em;
    }
    .img {
        background-image: url("../../assets/icons/icon-192x192.png");
        background-size: contain;
        width: 7em;
        height: 100%;
        float: left;
        background-color: #111;
    }
    button {
        background-color: #4b1010;
        color: white;
    }
    &.show {
        visibility: visible;
        animation: fadein 0.5s, expand 0.5s 0.5s;
        animation-fill-mode: forwards;
    }
}

@keyframes fadein {
    from { bottom: 0; opacity: 0;}
    to { bottom: 3em; opacity: 1;}
}

@keyframes expand {
    from {min-width: 3em}
    to {min-width: 21em}
}